[submodule "vendor/AdvantageScope"]
	path = vendor/AdvantageScope
	url = https://github.com/Mechanical-Advantage/AdvantageScope.git
[submodule "vendor/elastic_dashboard"]
	path = vendor/elastic_dashboard
	url = https://github.com/Gold872/elastic_dashboard.git
[submodule "vendor/Choreo"]
	path = vendor/Choreo
	url = https://github.com/SleipnirGroup/Choreo.git
